{{> menu active="about"}}

<section class="box is-3 has-text-centered">
  <h3 class="title">
    Weather Top
  </h3>
  <div class="section">
    <p>
      A Weather Tracking App
    </p>
  </div>
</section>
<div class="tile is-ancestor">
  <div class="tile is-parent is-8">
    <div class="tile is-child box">
      <p class="title">Weather Top Inc</p>
      <p>
        Welcome to WeatherTop Inc., the home of the WeatherTop 1000 modular weather station and its accompanying web
        companion application.
        Our mission is to provide individuals and organizations with a low-cost yet reliable solution for capturing and
        analyzing meteorological data.
        <br>
        <br>
        The WeatherTop 1000 is a compact and user-friendly weather station designed to meet the needs of weather
        enthusiasts, amateur meteorologists, educators,
        and researchers alike. With its modular design, the device allows users to easily collect a wide range of
        meteorological readings, including temperature,
        humidity, wind speed, barometric pressure, and rainfall. These readings are then displayed on a simple LCD
        screen, providing instant access to real-time
        weather data.
        <br>
        <br>
        However, we understand that the power of weather data lies not just in its collection but also in its analysis
        and interpretation. That's why we
        developed our web companion application to complement the WeatherTop 1000. Our application enables users to
        seamlessly upload the readings captured
        by their weather stations and provides a robust platform for viewing, analyzing, and deriving insights from the
        collected data.
      </p>
    </div>
  </div>
  <div class="tile is-parent">
    <div class="tile is-child ">
      <figure class="image is-square">
        <img src="images/weather-instrument.jpg">
      </figure>
    </div>
  </div>
</div>
<div class="tile is-ancestor">
  <div class="tile is-vertical is-8">
    <div class="tile">
      <div class="tile is-parent is-vertical">
        <div class="tile is-child ">
          <figure class="image is-square">
            <img src="images/lighthouse.jpg">
          </figure>
        </div>
      </div>
    </div>
  </div>
  <div class="tile is-parent">
    <div class="tile is-child box">
      <p class="title">Key Features</p>
      <p>
      <ol>
        <li>Data Upload: Easily upload the meteorological readings from your WeatherTop 1000 station to our web
          application.
          Our user-friendly interface ensures a smooth and hassle-free experience.
        </li>
        <li>Data Analysis: Leverage our built-in analytics tools to gain insights from your weather data. Our
          application provides basic analysis features such as data summaries, averages, and minimum/maximum values,
          empowering you to understand the characteristics of your local weather
        </li>
        <li>Historical Data: Dive into the past and explore historical weather patterns with ease. Our application
          enables you to access and analyze historical meteorological data captured by your WeatherTop 1000,
          helping you identify trends and understand long-term weather changes.
        </li>
        <li>Real-Time Readings: View the latest meteorological readings from your WeatherTop 1000 station in real-time.
          Our web companion application provides an instant display of temperature, humidity, wind speed, barometric
          pressure, and rainfall data,
          allowing you to stay up-to-date with the current weather conditions.
        </li>
        <li>User-Friendly Interface: Enjoy a simple and intuitive user interface designed to enhance your experience.
          Our web companion application is easy to navigate, ensuring that you can quickly find the
          information you need and perform essential tasks effortlessly.
        </li>
      </ol>
      </p>
    </div>
  </div>
</div>
<div class="tile is-ancestor">
  <div class="tile is-parent">
    <div class="tile is-child box">
      <p class="title">Why not Join?</p>
      <p>
        We understand that accurate and accessible weather information is crucial for individuals and organizations
        alike.
        With our web companion application, WeatherTop Inc. aims to provide WeatherTop 1000 users with a reliable
        platform to upload,
        access, and analyze their weather data efficiently
        <br>
        <br>
        Join us in harnessing the power of weather data with the WeatherTop 1000 and its accompanying web companion
        application.
        Start maximizing the value of your meteorological readings today!
      </p>
    </div>
  </div>
</div>