{{> welcome-menu}}

<section class="content">
  <div class="content has-text-centered">
    <h1 class="title">
      <br>
      Welcome to Weather Top
    </h1>
    <p>
      Login or Sign Up!
    </p>
  </div>
  <figure>
    <img src="images/hero.jpg">
  </figure>
</section>