{{> menu}}

<section class="content box">
  <div class="columns">
    <div class="column is-half">
      <div class="content box notification is-dark">
        <div class="columns">
          <div class="column">
            <p class="subtitle">
              {{station.name}}
            </p>
            <p>Lng: {{station.longitude}} </p>
            <p>Lat: {{station.latitude}}  </p>
          </div>
          <div class="column">
            <span class="icon is-large">
              <i class=""></i>
            </span>
          </div>
        </div>
      </div>
      {{> latest-reading}}
    </div>
    {{> list-readings}}
    {{> add-reading}}
</section>